body { /* 设置背景图片居中 */
	background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
    
    font-family: 'Open Sans','helvetica',arial,sans-serif;
    font-weight: 300;
    color: #62686f;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}

.container { /* 设置内容居中外包围框 */
	width: 960px;
	margin: 0 auto;
}

.main-header {
	background-image: url(../img/banner.jpg);
    margin-top: 150px;/* 与顶部保持150px */
	text-align: center;/* header居中 */
    padding: 1px;
}

.main-header__avatar{
	display: block;/* 转换行为块 */
    width: 15%;
  	margin: 0 auto;
    margin-top: -70px;
    margin-bottom: 10px;
    
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2); /* 阴影 */
  	border-radius: 999px; /* 圆形 */
}

.main-header h1{
	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans','helvetica',arial,sans-serif;
    margin-bottom: 20px;
    
    text-shadow: 0 1px rgba(0,0,0,0.3);
}

.main-nav {
    background-color: #333;
    text-align: center;
    padding: 1px;
}

.main-nav ul li {
    margin: 15px 10px;
    display: inline;
    /*display: inline-block; /* 设置对内块元素，调整高度和上下内外边距 */ */
}

.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.info-section {
    background-color: #fff;
    padding: 30px 60px;
}

.whatido__skill-list { /* 去除列表风格 */
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 60px;
}

.whatido__skill-list:after {
    content: "";
    display: table;
    clear: both;
}

.whatido__skill-list .whatido__skill {
    float: left;
}

.whatido__skill {
    padding-top: 120px;
}

.whatido__skill--code {
    background-image: url(../img/skill-code.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 33.3%;
}

.whatido__skill--design {
    background-image: url(../img/skill-design.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 33.3%
}

.whatido__skill--product {
    background-image: url(../img/skill-product.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 33.3%
}

.info-section header h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.info-section h3 {
    text-align: center;
}

.info-section p {
    text-align: center;
}

.info-section header h2:after { /* 划黑线 */
    margin: 10 auto;
    display: block;
    content: "";
    height: 2px;
    width: 100px;
    border-bottom: 3px solid black;
}

.info-section__description {
    font-style: italic;
}

.education-experience__list li { /* 足够的空间 */
    text-align: left;
    margin-bottom: 60px;
}

.education-experience__list { /* 去除list风格 */
    list-style: none;
    padding: 0;
    margin: 0;
}
    
.education-experience__list img { /* 实现Float布局避免文字包围图片 */
    width: 180px;
    float: left;
}

.education-experience__list p {
    overflow: hidden;
    padding-left: 20px;
}

html {
    box-sizing: border-box; /* 全局实现border-box */
}

*, *:before, *:after {
    box-sizing: inherit;
}

.photos__list {
    overflow: hidden;
}

.photos__list img {
    padding: 10px;
    width: 100%;
}

.photos__list li {
    float: left;
    width: 25%;
    text-align: center;
}

.get-in-touch__list{
    overflow: hidden;
}
.get-in-touch__list li{
    width:25%;
    float: left;
    text-align: center;
}

.contact input,
.contact textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

.contact button {
    border: none;
    border-radius: 9999px;

    background: #ffd524;

    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    color: #fff;
    box-shadow: 0 3px 0 #daae1d;
}

.contact form{
    width:40%;
    margin:0 auto;
    position: relative;
}

.contact form label{
    position: absolute;
    left: -105%;
    width: 100%;
    text-align: right;
}


@media only screen and (max-width : 480px) {
    .container {
        width: 100%;
    }
    
    .main-header h1 {
        font-size: 32px;
    }
    
    .main-nav ul li {
		display: block;
	}

    .info-section {
        padding: 10px;
    }
    
    li.whatido__skill {
        width: 100%;
        margin-bottom: 40px;
    }
    
    .education-experience__list li img {
		display: block;
		float: none;
		margin: 0 auto;
	}
    
    .education-experience header h2 span {
		display: block;
	}

	.photos__list li {
		display: block;
		width: 100%;
		float: none;
	}

	.get-in-touch__list li {
		width: 100%;
	}

	.contact form {
		width: 100%;
	}
	
	.contact label {
		position: static;
	}
}

    
