body { /* 设置背景图片居中 */
	background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.container { /* 设置内容居中外包围框 */
	width: 960px;
	margin: 0 auto;
}

.main-header {
	background-image: url(../img/banner.jpg);
    margin-top: 150px;/* 与顶部保持150px */
	text-align: center;/* header居中 */
    padding: 1px;
}

.main-header__avatar{
	display: block;/* 转换行为块 */
    width: 15%;
  	margin: 0 auto;
    margin-top: -70px;
    margin-bottom: 10px;
    
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2); /* 阴影 */
  	border-radius: 999px; /* 圆形 */
}

.main-header h1{
	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans','helvetica',arial,sans-serif;
    margin-bottom: 20px;
    
    text-shadow: 0 1px rgba(0,0,0,0.3);
}
